.all {

  .pageTitle {
    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 400;
    color: #1D1F22;
    font-size: 42px;
    line-height: 67px;
    margin: 40px 0;

    &:first-letter {
      text-transform: uppercase;
    }
  }

  .products {
    display: flex;
    flex-wrap: wrap;
  }
}
